<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">
<div class="container-lg" layout:fragment="content">
  <div class="row row-cols-2 mt-3">
    <div class="col mb-3" th:each="ar : ${old}">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Заявка от: <span th:text="${ar.userName}"></span>
          </h5>
          <p class="card-text">
            Курс: <span th:text="${ar.courseName}"></span>
          </p>
          <p class="card-text" th:text="${ar.commentary}"></p>
          <p class="card-text d-flex"  style="font-weight: bold">
            Тел: <span th:text="${ar.phone}"></span>
            <a class="ms-3" th:href="${'/details/'+ar.id}">Подробнее</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</html>