<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">
<div class="container-lg" layout:fragment="content">
  <div class="container">
    <div class="row">
      <div class="card col-md-6 offset-md-3 login-register-card">
        <div class="card-body">
          <div class="row ">
            <div class="col-md-6 text-center">
              <div class="row">
                <div class="col-md-12">
                  <form id="login-form" th:action="@{'/auth'}" method="post" style="display: block;"
                        th:fragment="login-form">
                    <div class="form-group">
                      <input type="text" name="user_email" id="username" tabindex="1"
                             class="form-control"
                             placeholder="Login name">
                    </div>
                    <div class="form-group">
                      <input type="password" name="user_password" id="password" tabindex="2"
                             class="form-control"
                             placeholder="Password">
                    </div>
                    <div align="center" th:if="${param.error}">
                      <p class="error">Bad login details</p>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                          <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                 class="form-control btn btn-success" value="Log in">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>